:root {
  --brand-color:rgb(6, 6, 239) ;
}

body {
  font-family: system-ui;
  background: linear-gradient(to bottom,
    --brand-Color,
    darken(--brand-color, 15%)
  );
  color: black;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  
}

.container {
  position: relative;
  text-align: center;
  color: #ffffff;
}  
/* Top left text */
.top-left {
  position: absolute;
  top: 30px;
  left:100px;
  color:black;
  font-size: 50px;
}
